html, body {
  height:100%;
  background-color: #666699;
}

.well {
  background-color: #ffffee
}

#content {
  padding: 25% 25% 5%;  
}

.search-form {
  border-radius: 30px 0 0 30px;
}

.input-group {
  width:100%;
}

input-group-btn {
  max-width:38px;
}

#search {
  border: 1px;
}

.search-btn {
  cursor:pointer;
  border-radius: 0 30px 30px 0; 
  background-color:#fff;
  color:#669;
  
}

.text-center {
  color: #fff;
}

.text-center {
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}


/* Custom Button Styles */
.custom-btn {
  background-color: #666699; /* Custom color code */
  color: #fff; /* Text color */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #288abf; /* Darker shade for hover effect */
}
